@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css);

/* font */
@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/HelveticaNeue.ttc);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Private page */

body {
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
}

.left-section {
    width: 1098px;
    background-color: #F9F9F9;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 45px;
    margin-bottom: 65px;
}

.right-section {
    width: 822px;
}

.private-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.private-info h1 {
    font-family: 'Helvetica Neue';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1A1A1A;
    margin-bottom: 12px;
}

.private-info span {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1A1A1A;
    margin-bottom: 15px;
}

.line {
    border: 1px solid #1A1A1A;
}

.back-btn {
    position: absolute;
    top: 45px;
    left: 40px;
    cursor: pointer;
}

.container {
    margin-top: 77px;
}

.username-surname {
    display: flex;
    flex-direction: row;
}

.form-control label {
    color: #000000;
    font-family: 'Helvetica Neue';
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    display: block;
}

.mb-8px {
    margin-bottom: 8px;
}

.mr-56px {
    margin-right: 56px;
}

.form-control input {
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}

.form-control input::first-line {
    color: #000000;
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

/* visibility: hidden; item style,Succes*/


.form-control input::placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding: 14px 16px; 
}

.form-control small {
    /* visibility: hidden; */
    color: #2E2E2E;
    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* visibility: hidden; */
}

/* .form-control.error small {
    color: #F02424;
} */

.form-control .class-name-left {
    /* visibility: hidden; */
    position: absolute;
    top: 210px;
    left: 490px;
    visibility: hidden;
}

.form-control .class-surname-left {
    /* visibility: hidden; */
    position: absolute;
    top: 210px;
    left: 915px;
    visibility: hidden;
}

/* visible */
.form-control.success i.fa-check-circle {
    visibility: hidden;
    color: #98E37E;
}

/* visible */
.form-control.error i.fa-exclamation-circle {
    visibility: hidden;
    color: #EF5050;
}

.upload-img {
    margin-top: 54px;
}

.upload-img span {
    font-family: 'Helvetica Neue';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #1A1A1A;
}

.upload-img .choose-file {
    visibility: hidden;
}

.upload-img .upload-btn {
    border: none;
    background-color: #0E80BF;
    border-radius: 4px;
    width: 107px;
    height: 27px;
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    padding: 4px 20px;
    left: 396px;
   
}

.upload-img .error-icon {
    /* hidden */
    position: absolute;
    left: 510px;
    margin: 5px;
    width: 21px;
    height: 18px;
    visibility: visible;
}

.upload-img .success-icon {
    /* hidden */
    position: absolute;
    left: 510px;
    margin: 5px;
    width: 21px;
    height: 18px;
    visibility: hidden;
}

.about-me {
    margin-top: 49px;
}

.about-me h2 {
    margin-bottom: 8px;
    font-family: 'Helvetica Neue';
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.about-me textarea {
    width: 100%;
    color: #000000;
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 16px 14px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 4px;
}

.email-field {
    margin-top: 62px;
}

.email-field label {
    display: block;
    color: #000000;
    font-family: 'Helvetica Neue';
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.email-field .email-input {
    width: 100%;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}

.email-field .email-input::placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding: 14px 16px;
}

.email-field .error-email-icon {
    position: absolute;
    top: 658px;
    left: 960px;
    visibility: hidden;
}

.email-field .email-input::first-line {
    color: #000000;
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.email-field .success-email-icon {
    position: absolute;
    top: 660px;
    left: 960px;
    visibility: hidden;
}

.email-field .email-small {
    color: #2E2E2E;
    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

.number-field {
    margin-top: 29px;
}

.number-field label {
    display: block;
    color: #000000;
    font-family: 'Helvetica Neue';
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.number-field .number-input {
    width: 100%;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}

.number-field .number-input::first-line {
    color: #000000;
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px
}

.number-field .error-num-icon {
    position: absolute;
    bottom: 124px;
    left: 960px;
    visibility: hidden;
}

.number-field .success-num-icon {
    position: absolute;
    bottom: 124px;
    left: 960px;
    visibility: hidden;
}

.number-field .num-small {
    color: #2E2E2E;
    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

.next-page-btn {
    margin-top: 189px;
    display: flex;
    justify-content: end;
}

.next-page-btn .next-btn {
    width: 151px;
    height: 48px;
    background-color: #6B40E3;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-family: 'Helvetica Neue';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    padding: 14px 35px;
}

.right-section {
    padding: 68px 75px 0px 80px;
}

.right-names {
    font-family: 'Helvetica Neue';
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #F93B1D;
}

.ml-20px {
    margin-left: 20px;
}


.right-mail-num {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
}


.for-textarea-style {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    display: block;
}

.mb-17px {
    margin-bottom: 17px;
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-34px {
    margin-bottom: 34px;
}

.for-h3 {
    position: relative;
    visibility: hidden;
}

.uploaded-image {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 40px;
    margin-left: 15px;
    margin-top: 48px;
}

.mt-15px {
    margin-top: 15px;
}

.logo1 {
    position: absolute;
    bottom: 0;
    margin-bottom: 44px;
}

.div2 {
    max-width: 400px;
}

.div1 {
    max-width: 470px;
}




